<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971624956318-hjof616hkd37m4uhbj3bb8cg5g6e0ssj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971624956318-hjof616hkd37m4uhbj3bb8cg5g6e0ssj</string>
	<key>API_KEY</key>
	<string>AIzaSyCON6hU42plLcV_DswGRRlvHKXu980jtQY</string>
	<key>GCM_SENDER_ID</key>
	<string>971624956318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pearls.org</string>
	<key>PROJECT_ID</key>
	<string>pearls-28d35</string>
	<key>STORAGE_BUCKET</key>
	<string>pearls-28d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971624956318:ios:847e2129aef5f524f4568f</string>
</dict>
</plist>